@media (min-width: 768px) and (max-width: 1023px) {
    .container-fluid {
        margin-left: 30px;
        margin-right: 30px;
    }

    .right-side {
        display: flex;
        align-items: center;
        gap: 35px;
    }

    .navbar-brand {
        font-size: 20px;
    }

    .circle {
        width: 40px;
        height: 40px;
    }

    .fa-bell {
        font-size: 22px;
    }

    .fa-user {
        font-size: 22px;
    }

    .sidebar {
        display: none;
    }

    .sidebar.active {
        width: 300px;
        height: 100vh;
        margin-top: 80px;
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #FFFFFF;
        z-index: 1000;
        position: fixed;
        border: 1px solid rgba(204, 204, 204, 0.5);
    }

    #hamburger-btn {
        display: block;
        color: #FFFFFF;
    }

    .profile-icon {
        font-size: 100px;
    }

    .body-profile {
        left: 420px;
    }

    .name {
        font-size: 18px;
    }

    .role {
        font-size: 16px;
    }

    .button {
        font-size: 14px;
        border-radius: 12px;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .body-content {
        margin-left: 0;
    }

    .content-container {
        margin: 40px;
    }

    .card-course-content {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .title-materi {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .title-homework {
        font-size: 14px;
    }

    .deadline-homework {
        font-size: 10px;
    }

    .title-assignment {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .chat-list {
        margin-left: -300px;
    }

    .header-contact-name {
        font-size: 16px;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 300px;
    }
}