/* main CSS */

a {
    text-decoration: none;
    color: black;
}

input:focus {
    outline: none;
}

.container {
    margin-left: 60px;
}

.navbar {
    height: 80px;
    background-color: #459DA9;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.container-fluid {
    margin-left: 60px;
    margin-right: 60px;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.left-side {
    display: flex;
    align-items: center;
    gap: 50px;
}

.circle {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-bell {
    font-size: 26px;
    color: white;
}

.fa-user {
    font-size: 26px;
    color: #222222;
}

.sidebar {
    width: 300px;
    height: 100vh;
    border: 1px solid rgba(204, 204, 204, 0.5);
    padding: 35px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    z-index: 999;
    position: fixed;
}

.sidebar-item,
.sidebar-item-dropdown {
    padding: 10px;
    padding-left: 20px;
    cursor: pointer;
    position: relative;
    border-radius: 1rem;
    border: 1px solid #FFFFFF;
}

.sidebar-item:hover,
.sidebar-item-dropdown:hover,
.sidebar-course-item:hover {
    border: 1px solid rgba(204, 204, 204, 0.5);
    border-radius: 1rem;
}

.sidebar-course-item {
    padding: 10px;
    padding-left: 40px;
    border-radius: 1rem;
    border: 1px solid #FFFFFF;
    display: block;
}

.active {
    background-color: rgba(69, 157, 169, 0.6);
    border: 1px solid #FFFFFF;
}

.arrow {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
}

.body-content {
    margin-left: 300px;
}

.content-container {
    margin: 60px;
    flex-grow: 1;
}

.bg-profile {
    position: relative;
    width: 100%;
    height: 250px;
    background-color: #EDEDED;
    border-radius: 1rem;
}

.circle-profile {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo-profile {
    width: 250px;
    height: 250px;
    background-color: #459DA9;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-icon {
    font-size: 100px;
}

.edit-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
    color: #000;
}

.body-profile {
    position: absolute;
    top: 50%;
    left: 450px;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.name {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

.role {
    font-size: 18px;
    font-weight: bold;
}

.fa-location-dot, .fa-whatsapp, .fa-inbox {
    font-size: 20px;
}

.location-name, .whatsapp-number {
    margin-top: -3px;
}

.gmail-name {
    margin-top: -6px;
}

.location, .whatsapp, .gmail {
    display: flex;
    align-items: center;
    gap: 20px;
}

.section-profile {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.section-to-edit, .section-to-add {
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border-top: 1px solid rgba(204, 204, 204, 0.5);
    border-bottom: 1px solid rgba(204, 204, 204, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-container {
    display: flex;
    gap: 20px;
}

.button {
    border-radius: 1rem;
    border: 1px solid rgba(204, 204, 204, 0.5);
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.card-course-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    margin-top: 30px;
}

.card {
    width: 100%;
    height: auto;
    border: 1px solid rgba(204, 204, 204, 0.5);
    border-radius: 1rem;
    background-color: #FFFFFF;
}

.bg-card-header {
    border-top-left-radius: 1rem !important;
    border-top-right-radius: 1rem !important;
    background-color: #459DA9;
}

.card-header {
    margin: 5px;
    border-radius: 0 !important;
    background-color: transparent;
    border-bottom: 0 !important;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title-course {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
}

.bar-progress {
    position: relative;
    background-color: #FFFFFF;
    border-radius: 1rem;
    height: 25px;
}

.progress {
    position: absolute;
    background-color: #00FF73;
    height: 100%;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.presentase {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: bold;
    color: #4d4d4d;
}

.name-program {
    font-size: 12px;
    text-align: right;
    color: white;
}

.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.deadline {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.list-homework {
    font-size: 12px;
    text-align: center;
}

.card-footer {
    background-color: transparent;
    border-top: 0 !important;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.see-class-button {
    background-color: #00FF73;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
}

.body-content-chat {
    margin-left: 300px;
    display: flex;
    height: calc(100vh - 80px);
}

.chat {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.chat-list {
    width: 300px;
    border: 1px solid rgba(204, 204, 204, 0.5);
    padding: 15px;
    overflow-y: auto;
}

.card-contact {
    margin: 10px;
    height: 50px;
    border-radius: 1rem;
    background-color: rgba(154, 209, 216, 0.39);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
}

.contact-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-contact:hover {
    background-color: rgba(154, 209, 216, 0.6);
}

.body-chat {
    flex-grow: 1;
    border: 1px solid rgba(204, 204, 204, 0.5);
    font-size: 18px;
    font-weight: bold;
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-chat {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFFFFF;
    padding: 10px;
}

.name-status {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.header-contact-name {
    font-size: 16px;
    font-weight: bold;
}

.header-contact-status {
    font-size: 12px;
    font-weight: 100;
    color: #828282;
}

.chat-messages {
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    padding: 20px;
    overflow-y: auto;
}

.message-send {
    background-color: #C6DBE3;
    padding: 15px;
    border-radius: 1rem;
    font-size: 14px;
    font-weight: 400;
    align-self: flex-start;
    max-width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message-receive {
    background-color: #EFB6B6;
    padding: 15px;
    border-radius: 1rem;
    font-size: 14px;
    font-weight: 400;
    align-self: flex-end;
    max-width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-chat {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    padding: 10px;
}

.input-chat {
    width: 100%;
    border-radius: 1rem;
    background-color: #E3E3E3;
    padding: 10px;
    border: 0;
    font-size: 14px;
    height: 35px;
}

.chat-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    margin-top: 35px;
}

.course-dropdown {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    border-radius: 1rem;
    background-color: #459DA9;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.course-filter {
    font-size: 18px;
    font-weight: bold;
}

#courseFilter {
    display: none;
    background-color: rgba(154, 209, 216, 0.39);
    padding: 10px;
    z-index: 1;
    border-radius: 1rem;
}

#courseFilter a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: black;
}

#courseFilter a:hover {
    background-color: #FFFFFF;
    border-radius: 1rem;
}

.time-dropdown {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    border-radius: 1rem;
    background-color: #9AD1D8;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin-bottom: 20px;
}

.card-homework {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    border-radius: 1rem;
    background-color: rgba(154, 209, 216, 0.39);
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin-bottom: 20px;
}

.title-homework {
    font-weight: bold;
}

.right-side-homework {
    display: flex;
    align-items: center;
    gap: 20px;
}

.deadline-homework {
    color: #858585;
    font-size: 12px;
}

.submit-button {
    background-color: #00FF73;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
}

.header-course {
    height: 150px;
    border-radius: 1rem;
    background-color: #459DA9;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 15px;
}

.header-title-course {
    font-weight: bold;
    font-size: 24px;
    color: #FFFFFF;
}

.header-name-program {
    font-size: 14px;
    color: #FFFFFF;
}

.circle-icon {
    background-color: #459DA9;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

.left-side-course {
    display: flex;
    align-items: center;
    gap: 20px;
}

.materi-dropdown {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    border-radius: 1rem;
    background-color: #9AD1D8;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin-bottom: 20px;
}

.card-materi {
    padding: 10px;
    padding-left: 40px;
    padding-right: 20px;
    cursor: pointer;
    border-radius: 1rem;
    background-color: rgba(154, 209, 216, 0.39);
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin-bottom: 20px;
}

.read-button {
    background-color: #00FF73;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
    width: 70px;
    display: flex;
    justify-content: center;
}

.watch-button {
    background-color: #00FF73;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
    width: 70px;
    display: flex;
    justify-content: center;
}

.left-side-header-materi {
    display: flex;
    align-items: center;
    gap: 40px;
}

.title-materi {
    font-size: 24px;
    font-weight: bold;
}

.continue-button {
    background-color: #00FF73;
    padding: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
    width: 100px;
    display: flex;
    justify-content: center;
}

.card-document {
    width: 250px;
    height: 200px;
    border-radius: 1rem;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(154, 209, 216, 0.39);
    cursor: pointer;
}

.document-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.thumb-document {
    width: 100%;
    height: auto;
}


.left-side-header-assignment {
    display: flex;
    align-items: center;
    gap: 40px;
}

.title-assignment {
    font-size: 24px;
    font-weight: bold;
}

.card-assignment {
    width: 100%;
    height: 400px;
    background-color: rgba(154, 209, 216, 0.39);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px;
    gap: 20px;
}

.document-assignment {
    width: 150px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid rgb(153, 151, 151, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.title-document-assignment {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}

.deadline-assignment {
    font-size: 16px;
    font-weight: bold;
}

.rectangle-dots {
    width: 500px;
    height: 200px;
    border: 2px dashed rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.submit-button-assignment {
    background-color: #00FF73;
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: bold;
}

#hamburger-btn {
    display: none;
    font-size: 24px;
    cursor: pointer;
}
