@media (min-width: 1024px) and (max-width: 1439px) {
    .container {
        margin-left: 40px;
    }

    .navbar {
        height: 80px;
    }

    .container-fluid {
        margin-left: 40px;
        margin-right: 40px;
    }

    .navbar-brand {
        font-size: 20px;
    }

    .left-side {
        gap: 40px;
    }

    .circle {
        width: 40px;
        height: 40px;
    }

    .fa-bell {
        font-size: 22px;
    }

    .fa-user {
        font-size: 22px;
    }

    .sidebar {
        width: 250px;
        padding: 25px;
    }

    .sidebar-item,
    .sidebar-item-dropdown {
        padding: 5px;
        padding-left: 20px;
        border-radius: 12px;
    }

    .sidebar-item:hover,
    .sidebar-item-dropdown:hover,
    .sidebar-course-item:hover {
        border: 1px solid rgba(204, 204, 204, 0.5);
        border-radius: 12px;
    }

    .sidebar-course-item {
        border-radius: 12px;
    }

    .arrow {
        right: 20px;
    }

    .body-content {
        margin-left: 250px;
    }

    .content-container {
        margin: 30px;
    }

    .profile-icon {
        font-size: 100px;
    }

    .body-profile {
        left: 430px;
    }

    .name {
        font-size: 18px;
    }

    .role {
        font-size: 16px;
    }

    .button {
        font-size: 14px;
        border-radius: 12px;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .card-course-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .chat-list {
        width: 250px;
        margin-left: -50px;
        padding: 10px;
    }

    .card-contact {
        height: 45px;
    }

    .contact-name {
        font-size: 14px;
    }

    .message-send, .message-receive {
        font-size: 12px;
    }

    .footer-chat {
        padding: 0px;
    }

    .input-chat {
        font-size: 12px;
    }

    .time-dropdown {
        font-size: 14px;
    }

    .title-homework {
        font-size: 14px;
    }

    .deadline-homework {
        font-size: 10px;
    }

    .header-name-program {
        font-size: 12px;
    }
    
    .title-assignment {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .header-contact-name {
        font-size: 16px;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 300px;
    }
}