@media (min-width: 321px) and (max-width: 376px) {
    .container-fluid {
        margin-left: 20px;
        margin-right: 20px;
    }

    .right-side {
        display: flex;
        align-items: center;
        gap: 25px;
    }

    .left-side {
        gap: 25px;
    }

    .navbar-brand {
        font-size: 20px;
    }

    .circle {
        width: 40px;
        height: 40px;
    }

    .fa-bell {
        font-size: 22px;
    }

    .fa-user {
        font-size: 22px;
    }

    .sidebar {
        display: none;
    }

    .sidebar.active {
        width: 300px;
        height: 100vh;
        margin-top: 80px;
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #FFFFFF;
        z-index: 1000;
        position: fixed;
        border: 1px solid rgba(204, 204, 204, 0.5);
    }

    #hamburger-btn {
        display: block;
        color: #FFFFFF;
    }

    .index-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .bg-profile {
        width: 100%;
        height: 450px;
    }

    .circle-profile {
        width: 100px;
        height: 100px;
    }

    .photo-profile {
        width: 100%;
        height: 150px;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 0;
    }

    .profile-icon {
        font-size: 50px;
    }

    .edit-button {
        top: 170px;
    }

    .body-profile {
        top: 65%;
        left: 150px;
        gap: 20px;
    }

    .name {
        font-size: 18px;
    }

    .role {
        font-size: 16px;
    }

    .location-name, .whatsapp-number {
        font-size: 14px;
    }

    .section-to-edit, .section-to-add {
        font-size: 16px !important;
    }

    .button {
        font-size: 14px;
        border-radius: 12px;
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        align-items: center;
        text-align: center;
    }

    .body-content {
        margin-left: 0;
    }

    .content-container {
        margin: 20px;
    }

    .card-course-content {
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }

    .header-course {
        height: 120px;
    }

    .header-title-course {
        font-size: 20px;
    }

    .header-name-program {
        font-size: 10px;
    }

    .card-materi {
        gap: 5px;
    }

    .materi {
        font-size: 12px;
    }

    .assignment {
        font-size: 12px;
    }

    .title-materi {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .left-side-header-materi {
        gap: 20px;
    }

    .left-side-header-assignment {
        gap: 20px;
    }

    .card-homework {
        height: 90px;
        flex-direction: column;
        align-items: stretch;
    }

    .right-side-homework {
        justify-content: space-between;
    }

    .title-homework {
        font-size: 12px;
    }

    .deadline-homework {
        font-size: 10px;
    }

    .title-assignment {
        font-size: 16px;
        margin-bottom: 5px;
    }

    .card-assignment {
        padding: 20px;
        height: 350px;
    }

    .document-assignment {
        width: 200px;
        height: 40px;
    }

    .button-container {
        gap: 10px;
    }

    .title-document-assignment {
        font-size: 14px;
    }

    .deadline-assignment {
        font-size: 14px;
    }

    .rectangle-dots {
        width: 300px;
        height: 150px;
    }

    .chat-list {
        margin-left: -300px;
        padding: 5px;
        width: 500px;
    }

    .card-contact {
        padding-left: 15px;
        padding-right: 15px;
    }

    .contact-name {
        font-size: 12px;
    }

    .header-contact-name {
        font-size: 16px;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 230px;
    }
}