header {
    background: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.font-bold {
    font-weight: 700;
}

.font-semi-bold {
    font-weight: 600;
}

.pl-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

footer {
    height: 100%;
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}